<div class="container mt-3" id="usuarios">
    <div class="table-responsive-sm">

        <ngb-alert *ngIf="alertaEliminacion">
            {{alertaMensaje}}
        </ngb-alert>
        <table class="table table-hover table-striped table-dark">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Categoria de cuenta</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of listaUsuarios | async | paginate: { itemsPerPage: 5, currentPage: page }">
                    <th scope="row">{{item.id}}</th>
                    <td>{{item.nombre}}</td>
                    <td>{{item.premium == true ? 'Es cuenta premium' : 'NO es cuenta premium'}}</td>
                    <td>
                        <button type="button" class="btn btn-danger btn-sm" (click)="eliminarUsuario(item.id)">Eliminar</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <pagination-controls (pageChange)="page = $event" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>
    </div>
</div>