.centrarTitulo {
    margin: 0 auto;
}

.centrarForm {
    margin: 0 auto;
    margin-top: 1%;
    width: 60%;
}

.checkPremium {
    margin-top: 1%;
    margin-left: 40%;
    float: left;
}

.centrarCheck {
    text-align: center;
    justify-content: center;
    align-items: center;
}