<nav class="navbar navbar-expand-lg navbar-light bg-light py-sm-1">
    <div class="container-fluid">
        <div>
            <div class="navbar-nav">
                <a class="nav-link active" id="linkCrearUsuario" routerLink="./crear" routerLinkActive="active">Crear Usuario</a>
                <a class="nav-link active" id="linkBorrarUsuario" routerLink="./borrar" routerLinkActive="active">Borrar usuario</a>
                <a class="nav-link active" id="linkCotizarEnvio" routerLink="./listar" routerLinkActive="active">Cotizar envios</a>
            </div>
        </div>
    </div>
</nav>
<router-outlet></router-outlet>